{% extends 'base.html.twig' %}

{% block title %}School index{% endblock %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.id }}</td>
                <td>{{ school.name }}</td>
                <td>{{ school.address }}</td>
                <td>
                    <a href="{{ path('app_school_show', {'id': school.id}) }}">show</a>
                    <a href="{{ path('app_school_edit', {'id': school.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no school yet, please create one</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_school_new') }}">Create new</a>
{% endblock %}
